body{

font-family: Arial;

background:#f4f4f4;

text-align:center;

margin-top:80px;

}

.container{

background:white;

width:400px;

margin:auto;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,0.2);

}

button{

padding:12px 20px;

background:#28a745;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

#result{

margin-top:20px;

font-size:18px;

white-space:pre-line;

}
